<div class="row">
  <div class="col-12 col-sm-6">
    <app-playlist-list
      [items]="playlists"
      [selectedId]="selectedId"
      (selectedIdChange)="selectPlaylist($event)"
    >
    </app-playlist-list>


    <app-recent-search></app-recent-search>
    <!-- <input
      type="text"
      (input)="playlists[0].name = $any($event).target.value"
      [value]="playlists[0].name"
    /> -->

    <!-- <div [innerHTML]="'<b>ala ma kota</b>"></div> -->
  </div>
  <div class="col-12 col-sm-6">
    <ng-container [ngSwitch]="mode">
      <app-playlist-details
        [playlist]="selected"
        (edit)="edit()"
        *ngSwitchDefault
      ></app-playlist-details>

      <app-playlist-editor
        (cancel)="cancel()"
        (save)="updatePlaylist($event)"
        [playlist]="selected"
        *ngSwitchCase="'editor'"
      ></app-playlist-editor>
    </ng-container>
  </div>
</div>
