<div class="row">
  <div class="col-12 col-sm-6">
    <app-playlist-list
      [items]="playlists"
      [selectedId]="selectedId"
      (selectedIdChange)="selectPlaylist($event)"
    >
    </app-playlist-list>
 

    <!-- <input
      type="text"
      (input)="playlists[0].name = $any($event).target.value"
      [value]="playlists[0].name"
    /> -->
  </div>
  <div class="col-12 col-sm-6">
    <ng-container [ngSwitch]="mode">
      <app-playlist-details
        [playlist]="selected"
        *ngSwitchDefault
      ></app-playlist-details>

      <app-playlist-editor
        [playlist]="selected"
        *ngSwitchCase="'editor'"
      ></app-playlist-editor>
    </ng-container>

    <div>
      <button class="btn btn-info" (click)="edit()">Edit</button>
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
