<!-- .list-group>.list-group-item.list-group-item-action*3{$. Playlist $$$} -->

<div class="list-group">
  <!-- <ng-template
    ngFor
    [ngForOf]="playlists"
    let-playlist="$implicit"
    let-i="index"
  >
    <div class="list-group-item list-group-item-action">
      {{ i + 1 }}. {{ playlist.name }}
    </div>
  </ng-template> -->

  <!-- ============= -->

  <!-- <div
    class="list-group-item list-group-item-action"
    *ngFor="let playlist = $implicit; of: playlists; let i = index"
  >
    {{ i + 1 }}. {{ playlist.name }}
  </div> -->

  <div
    class="list-group-item list-group-item-action"
    *ngFor="let playlist of playlists; index as i"
  >
    {{ i + 1 }}. {{ playlist.name }}
  </div>
  
</div>

<!-- <div *ngIf="veryExpensiveOperation(); let result = $implicit">
  {{ veryExpensiveOperation() }} 
  {{ result }} 
</div> -->
