<form
  class="mb-3"
  [formGroup]="queryForm"
  (ngSubmit)="submit()"
  #formRef="ngForm"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      aria-label="Search"
      formControlName="query"
    />
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>

  <ng-container *ngIf="queryForm.get('query') as field">
    <p *ngIf="field.pending">Checking....</p>
    <ng-container *ngIf="field.dirty || field.touched || formRef.submitted">
      <p class="text-danger" *ngIf="field.hasError('required')">
        Field is required
      </p>

      <p class="text-danger" *ngIf="field.getError('minlength') as error">
        Minimum length is {{ error.requiredLength }} characters
      </p>

      <p class="text-danger" *ngIf="field.getError('censor') as error">
        Cannot contain "{{ error.badword }}""
      </p>
    </ng-container>
  </ng-container>
</form>
