// .ng-touched.ng-invalid,
// .ng-dirty.ng-invalid {
//   border: 1px solid red;
// }

// .ng-touched.ng-valid,
// .ng-dirty.ng-valid {
//   border: 1px green red;
// }
form {
  .ng-touched,
  .ng-dirty {
    &.ng-invalid {
      border: 2px solid red;
    }

    &.ng-valid {
      border: 2px solid green;
    }

    &.ng-pending {
      border: 2px solid blue;
    }
  }
}
