<p>playlist-editor works!</p>

<!-- <pre>{{ playlist | json | uppercase }}</pre> -->
<pre>{{ playlist | json }}</pre>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> Name:</label>
  <input
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Name"

    [ngModel]="playlist.name"
    (ngModelChange)="playlist.name = $event"

    />
    
    <!-- [Abc]="zmienna" -->
    <!-- (AbcChange)="zmienna = $event" -->
    
    <!-- [(Abc)] = "zmienna" -->

  <!-- (input)="playlist.name = $any($event).currentTarget.value" -->
</div>

<div class="form-check mb-3">
  <input
    class="form-check-input"
    type="checkbox"
    id="flexCheckDefault"
    [ngModel]="playlist.public"
  />
  <label class="form-check-label" for="flexCheckDefault"> Public </label>
</div>

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"
    >Description</label
  >
  <textarea
    class="form-control"
    placeholder="Description"
    id="exampleFormControlTextarea1"
    [ngModel]="playlist.description"
    rows="3"
  ></textarea>
</div>
