<!-- dl>(dt{Name:}+dd{Moja playlista})*3 -->

<!--
  {{ "Ala" + "Ma" + "Kota" }}
  {{ 1 + 2 > 3 ? 'prawda' : 'falsz '}} 
-->

<dl>
  <dt>Name:</dt>
  <dd>{{ playlist.name }}</dd>

  <dt>Public:</dt>

  <!-- <dd
    [style.color]="playlist.public ? 'red' : 'green'"
    [style.borderBottom]="'1px solid '"
  > -->
  <!-- <dd
    [ngStyle]="{
      color: playlist.public ? 'red' : 'green',
      borderBottom: playlist.public ? 'red' : 'green'
    }"
  > -->
  <!-- <dd
    [class.public]="playlist.public"
    [class.private]="playlist.public === false"
  > -->
  <dd
    [ngClass]="{
      public: playlist.public === true,
      private: playlist.public === false
    }"
  >
    {{ playlist.public ? "Yes" : "No" }}
  </dd>

  <dt>Description:</dt>
  <dd>{{ playlist.description }}</dd>
</dl>
