<ng-template #noPlaylistTpl>
  <p class="alert alert-info">No playlist selected</p>
</ng-template>

<div *ngIf="playlist; else noPlaylistTpl">
  <dl [title]="'playlist_' + playlist.id" [attr.data-playlist-id]="playlist.id">
    <dt>Name:</dt>
    <dd>{{ playlist.name }}</dd>

    <dt>Public:</dt>

    <dd
      class="trzecia_klasa"
      [ngClass]="{
        public: playlist.public,
        private: !playlist.public
      }"
    >
      {{ playlist.public ? "Yes" : "No" }}
    </dd>

    <dt>Description:</dt>
    <dd>{{ playlist.description }}</dd>
  </dl>

  <div>
    <button class="btn btn-info" (click)="editClick()">Edit</button>
  </div>
</div>
